################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lagrange.Desktop/bin
/Lagrange.Desktop/obj